<!-- <div> 
    <nav class="navbar navbar-expand-md navbar-light bg-light" id="nav">
            <a class="navbar-brand mr-auto" href="#">HOME</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsed_target" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsed_target">
                <ul class="navbar-nav ml-auto">
                    {% assign navbuttons = site.pages | where: "type", "nav"%}
                    {% for site in navbuttons%}
                        <li class="nav-item">
                                {% if site.override_link %}
                                    <a class="nav-link" href="{{site.override_link | relative_url}}">{{site.title}}</a>
                                {% else %}
                                    <a class="nav-link" href="{{site.permalink | relative_url}}">{{site.title}}</a>
                                {% endif %}
                        </li>
                    {%endfor%}
                </ul>
            </div>
        </nav>
</div> -->


<div class="header">
    <a href="{% link index.md %}"><i class="fas fa-arrow-left back-button"></i></a>
</div>

