.technologies {
    position: absolute;
    bottom: 0.7em;
    left: 0.6em;
    font-size: 0.8em;
}

.technology-item {
    margin-right: 0.4em;
    padding: 0.25em;
    border-radius: 5%;
    font-weight: 600;
    color: black;
}

.java {
    color: red;
    }

.javascript {
    color: #b3a92b;
    }

.cpp {
    color: darkblue;
    }

.nodejs {
    color: green;
    }

.angular {
    color: maroon;
    }

.mongodb {
    color: greenyellow;
    }

.gcp {
    color: #fcba03;
    }

.react {
    color: #34bdeb;
    }

.android {
    color: #A5CA3C;
    }

.javafx {
    color: #E76F00;
}

.raspberrypi {
    color:#C41949;
    }

.leapmotion {
    color: #5EAA02;
    }

.python {
    color: #366994;
    }

.azure {
    color: #2075B8;
}

.flask {
    color: #860859;
}