#nav {
    /* border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey; */
    background-color: white !important;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
}

.wrapper {
    max-width: 1000 !important;
}
/*  */

.navbar-toggler {
    float: right;  
    border: transparent !important;
}

.nav-link {
    padding-right: 1em !important;
}

.project-heading {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 500;
}


.project-list {
    display: flex;
}

/* Card and do flexbox */
.row {
    flex-wrap: wrap;
}

/* edit the card to make it square but also responsive to bootstrap (amateur way?) */

.card {
    height: 320px !important;
    width: 320px !important;
    margin-left: auto;
    margin-right: auto;
}

.project-item {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration:none;
    color: black !important;
}

.project-item:hover {
    text-decoration:none;

}

.project-title {
    font-size: 1.2em;
}

.project-description {
    font-size: 0.9em;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card {
    padding: 0.5em 0.5em 0.5em 0.5em !important;
}