/*navbar view*/
.back-button {
    margin-top: 1.25em;
    margin-left: 1.25em;
}

.back-button:hover {
    color:grey
}


#nav {
    background-color: white !important;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
}

.wrapper {
    max-width: 1000 !important;
}


.navbar-toggler {
    float: right;  
    border: transparent !important;
}


.nav-link {
    padding-right: 1em !important;
}

/* Project view */


.project-heading {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 500;
}


.project-list {
    display: flex;
}

/* Card views and do flexbox */
/* edit the card to make it square but also responsive to bootstrap (amateur way?) */

.row {
    flex-wrap: wrap;
}

.card {
    height: 320px !important;
    width: 320px !important;
    margin-left: auto;
    margin-right: auto;
}

.project-item {
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration:none;
    color: black !important;
}

.project-item:hover {
    text-decoration:none;

}

.project-title {
    font-size: 1.2em;
    margin-bottom: 0.3em !important;
}

.project-description {
    font-size: 0.9em;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card {
    padding: 0.5em 0.5em 0.5em 0.5em !important;
}