---
layout: home
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/assets/img/title-icon.png">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" crossorigin="anonymous">

    <title>{{page.title}}</title>
</head> 
<body>
    <div class="container">
        <div class="title">
            <div id="greeting"></div>
            <div id="intro">{{ content }}</div>
            <div id="button-link-section">
                <a class="links" href="{% link projects.md %}">Projects</a>
                <a class="links" href="assets/Resume.pdf">Resume</a>
            </div>
            <div id="icon-link-section">
                <a class="icon-links" href="mailto:kevinfeng1999@gmail.com">    
                    <i class="fas fa-envelope"><span aria-hidden="false"></span></i>
                </a>
                <a class="icon-links" href="https://github.com/kevinfwl">
                    <i class="fab fa-github"><span aria-hidden="false"></span></i>
                </a>
                <a class="icon-links" href="https://www.linkedin.com/in/wen-liang-feng/">
                    <i class="fab fa-linkedin"><span aria-hidden="false"></span></i>
                </a>
                <a class="icon-links" href="assets/Resume.pdf">
                    <i class="fas fa-file"><span aria-hidden="false"></span></i>
                </a>        
            </div>
        </div>


        <canvas id="grid"></canvas>
        <div id="alg-description">
            <div id="alg-description-title"></div>
            <div id="alg-description-body"></div>
        </div> 
    </div>

    <script>
        var setGreeting = function () {
            let greeting = document.getElementById("greeting");
            let hour = new Date().getHours();
            console.log(hour)
            if (4 <= hour && hour < 12) greeting.innerHTML = "Good Morning!"
            else if (12 <= hour && hour < 18) greeting.innerHTML = "Good Afternoon!"
            else greeting.innerHTML = "Good Evening!"
        }
        setGreeting();
    </script>
    <script src="/assets/js/graphUI.js"></script>
</body> 
</html>